<footer class="page-footer cyan darken-4">
	<div class="container">
		<div class="row">
			<div class="col s12 m6 l4 ">
                <h4>Desarrolladores</h4>
                <a href="https://github.com/Adal1013" class="white-text">
					<i class="fab fa-github fa-2x"></i> <big>Adalberto Avila</big>
				</a>
				<br>
				<a href="https://github.com/kristianschajris" class="white-text">
					<i class="fab fa-github fa-2x"></i> <big>Cristian Charris</big>
				</a>
				<br>
				<a href="https://github.com/Marcelino2017" class="white-text">
					<i class="fab fa-github fa-2x"></i> <big>Marcelino Mejia</big>
				</a>
            </div>
			<div class="col s12 m6 l4 offset-l4">
				<h4>Mas información</h4>
				<a href="https://get.webgl.org/" class="white-text">
					<i class="fas fa-link"></i><big> Obtén WebGL</big>
				</a>
				<br>
				<a href="https://www.khronos.org/webgl/wiki/Main_Page" class="white-text">
					<i class="fas fa-link"></i><big> WebGL Wiki</big>
				</a>
				<br>
				<a href="https://threejs.org/" class="white-text">
					<i class="fas fa-link"></i><big> Obtén Three.js</big>
				</a>
				<br>
			</div>
		</div>
	</div>
</footer>
