{% extends 'principal/principal.html' %}
{% load staticfiles %}
{% block title %}Inicio{% endblock %}

{% block content %}
    <section class="se responsive-img">
        {% block navbar %}
    		{% include 'principal/navbar.html' %}
    	{% endblock %}
    </section>
    <div class="section cyan darken-4">
      <div class="row container">
        <h2 class="center-align white-text">Órganos</h2>
      </div>
      <div class=" container row">
            <div class="row">
                {% for organo in organos %}
                  <div class="col s12 m5 l4">
                    <a href="/organo/{{organo.id}}">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img class="responsive-img" src="{% static '' %}{{organo.imagen}}">
                            </div>
                            <div class="card-content">
                                <span class="card-title center-align">{{ organo.nombre }}</span>
                            </div>
                        </div>
                    </a>
                  </div>
                  <div class="col s12 m7 l8">
                        <div class="card hoverable">
                            <div class="card-content">
                                <h5 align="JUSTIFY">
                                    Esta visualización de un modelo 3D del cerebro humano fue hecha con la tecnología WebGL que es una API derivada de OpenGL ES 2.0 empleada para renderizar imágenes 2D y 3D. Se utilizo la librería de Javascript Three.js  que integra la API WebGL simplificando el manejo de la misma y consecuentemente la representación de objetos 3D en la web.
                                </h5>
                            </div>
                        </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax">
            <img class="responsive-img" src="{%static 'images/anatomia-humana.jpg'%}">
        </div>
    </div>
{% endblock %}
