{% extends 'principal/principal.html' %}
{% load staticfiles %}
{% block title %}Inicio{% endblock %}

{% block content %}

    {% block navbar %}
		{% include 'principal/navbar.html' %}
	{% endblock %}

    <div class="section cyan darken-3">
    	<div class="row">
		    <div class="col s12 m6 l5">
		      <div class="card grey lighten-3">
		        <div class="card-content black-text">
		          <span class="card-title">{{organo.nombre}}</span>
                  <p align="JUSTIFY">{{organo.descripcion}}</p>

		        </div>
		      </div>
		    </div>
		    <div class="col s12 m6 l7">
				<div id="canvas"></div>
		    </div>
	    </div>
	</div>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        var urltex = "{% static 'models/cerebro/brain_tex.jpg' %}";
        var urlobj = "{% static 'models/cerebro/prominente.obj' %}";
    </script>
    <script type="text/javascript">
        $("nav.barra").removeClass("barra");
        $("div.nav-wrapper").addClass("cyan darken-4");
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/95/three.min.js"></script>
    <script type="text/javascript" src="{% static 'js/OBJLoader.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/orbit_controls.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cerebro.js' %}"></script>


{% endblock %}
